@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  width: 100%;
  min-height: 100vh;
  background-color: #f8fafc;
}

@media (prefers-color-scheme: dark) {
  #app {
    background-color: #020617;
  }
}
